h1 {
    color:black;
    background-color: cornflowerblue;
    font-size: 70px;
    padding: 20px;
}

.titulo_index {
    border-radius: 20px;
    text-align: center;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tamano {
    font-size: 25px;
}

.tamano_contacto {
    font-size: 25px;
}

.cuidado_seccion {
    font-size: 25px;
}

.maquillaje_seccion {
    font-size: 25px;
}

.medios_seccion {
    font-size: 25px;
}

.ofertas_seccion {
    font-size: 25px;
}

.suplementos_seccion {
    font-size: 25px;
}

.venta_libre_seccion {
    font-size: 25px;
}

.contacto {
    text-align: center;
}

.cuidado {
    text-align: center;
}

.maquillaje {
    text-align: center;
}

.medios {
    text-align: center;
}

.ofertas {
    text-align: center;
}

.suplementos {
    text-align: center;
}

.venta_libre {
    text-align: center;
}

.what {
    position: fixed;
    width: 100px;
    background-color: orangered;
    right: 50px;
    bottom: 50px;
}

.contenedor-productos-complementos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.producto{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contenedor-productos-venta-libre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.venta-libre{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contenedor-productos-ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.productos-ofertas{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contenedor-productos-maquillaje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.productos-maquillaje{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contenedor-productos-cuidado-personal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.productos-cuidado-personal{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contenedor-medios-de-pago-varios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.medios-de-pago-varios{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contenedor-flex{
    display: flex;
    align-items: center;
    gap: 30px;
}

.contenido-derecha{
    flex: 1;
}

.texto-grande{
    font-size: 30px;
    font-weight: bold;
}

.subrayado-suplemento{
    text-decoration: underline;
}

.contenedor-suplementos-quelat{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.contenedor-suplementos-quelat img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.contenedor-suplementos-quelat> div{
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    min-height: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    transition: transform 0.3s;
}

.contenedor-suplementos-quelat p {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.suplementos-quelat{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-capskrill{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-capskrill-aceite-de-krill{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-telomerina{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-graviton-caja{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-graviton-frasco{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-uridon{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suplementos-ensure{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  